@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --bg-primary: #2A2D43;
    --bg-secondary: #0C101C;
    --bg-secondary: #303352;
    --bg-terciary: #AEB8D4;
    --text-primary: #D9D9D9;
    --accent-green: #50B7A1;
    --accent-green: #684EB7;
}

*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    background-color: var(--bg-primary) !important;
    color: var(--text-primary);
    font-family: poppins;
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}




/* ========================== MISCELANEOUS ================================ */

.btn-accent{
    max-width: 245px;
    color: var(--text-primary);
    border: none;
    border-radius: 5px;
    padding: .8em 3.5em;
    background-color: var(--accent-green);
    font-weight: 600;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--text-primary)
}

::-webkit-scrollbar-thumb {
    background-color: #7b8a8d;
    /* border-radius: 20px; */
    /* border: 6px solid transparent; */
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-green);
}
/* custom scrollbar end */


/* card flip 3d */
.container{
    transform-style: preserve-3d;
}

.container .box{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
}

.container .box .body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
}



.container .box .body .imgContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.container .box .body .imgContainer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box .body .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.container .box:hover .body{
    transform: rotateY(180deg);
}

.container .box .body .content div{
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(45deg, #FE0061,#FFEB3B);
    transform: translateZ(100px);
}

.container .box .body .content div h3{
    letter-spacing: 1px;
}
/* card flip 3d end*/

/* ========================== MENU ================================ */


header {
    position: absolute;
    width: 100%;
    background-color: transparent;
    z-index: 2;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 20px 30px;
}

.logo img {
    max-width: 100%;
}

nav ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul.menu li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: var(--text-primary);
}





/* ========================== START SECTION ================================ */


#start {
    width: 100vw;
    height: 100vh; 
    top: 0;
    left: 0;
}

#start-conteudo {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#start-conteudo div {
    margin:10%;
}

.video-container {
    position: absolute;
    width: 100%;
    height: 100%; 
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: auto;
    object-fit: cover; 
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* opacity: 98%; */
    /* background-color: var(--bg-primary); */
    background: linear-gradient(to bottom, transparent, var(--bg-primary));
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(12px); 
}

#start div h1 {
    font-size: 3em;
    padding-bottom: 20px;
    letter-spacing: 25px;
    font-weight: 800;
}

#start div p {
    font-size: 2.2em;
    padding: 5% 0;
}


/* ========================== O QUE É SECTION ================================ */

.top-3-cards img {
    border-radius: 10px 10px 0 0 !important;
}

.top-3-cards {
    border-radius: 10px;
    color: var(--text-primary);
    background-color: var(--bg-secondary);
    box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.2);
}


#aplicabilidade-e-beneficions img {
    margin: 10px;
    padding: 20px;
    height: 100px;
    width: 100px;
    border-radius: 10PX;
    background-color: var(--bg-secondary);
    box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.2);
}

#aplicabilidade-e-beneficions h3 {
    margin: 15px;
}

#aplicabilidade-e-beneficions p {
    padding: 0 15%;
}


.carousel-cell {
    width: 230px;
    height: 300px;
    margin-right: 1.5em;
    background: #EADEDA;
}

.carousel-cell.is-selected {
    background: #ED2;
}

/* cell number */
.carousel-cell:before {
display: block;
text-align: center;
line-height: 200px;
font-size: 80px;
color: white;
}

.wrap-collabsible {
    margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
    display: none;
}

.lbl-toggle {
    display: block;
    text-align: left;
    padding: 1rem;
    color: var(--text-primary);
    background: var(--bg-secondary);
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle p {
    display:inline-block;
    width: 95%;
}


.lbl-toggle:hover {
    color: var(--accent-green);
}

.lbl-toggle::after {
    content: url('/imgs/arrow.svg');
    display: inline-block;
    position: absolute;
    transform: translateY(-40%);

    transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::after {
    transform: rotate(90deg) translateX(-60%);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    color: var(--bg-secondary);
    background: var(--bg-terciary);
    border-bottom: 1px solid rgba(250, 224, 66, .45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}