@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --bg-primary: #2A2D43;
    --bg-secondary: #0C101C;
    --text-primary: #D9D9D9;
    --accent-green: #50B7A1;
}


html, body {
    background-color: var(--bg-primary) !important;
    color: var(--text-primary);
    font-family: poppins;
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}




/* ========================== MISCELANEOUS ================================ */

.btn-accent{
    color: var(--text-primary);
    border: none;
    border-radius: 5px;
    padding: .8em 3.5em;
    background-color: var(--accent-green);
    font-weight: 600;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--text-primary)
}

::-webkit-scrollbar-thumb {
    background-color: #7b8a8d;
    /* border-radius: 20px; */
    /* border: 6px solid transparent; */
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-green);
}
/* custom scrollbar end */


/* card flip 3d */
.container{
    transform-style: preserve-3d;
}

.container .box{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
}

.container .box .body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
}



.container .box .body .imgContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.container .box .body .imgContainer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box .body .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.container .box:hover .body{
    transform: rotateY(180deg);
}

.container .box .body .content div{
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(45deg, #FE0061,#FFEB3B);
    transform: translateZ(100px);
}

.container .box .body .content div h3{
    letter-spacing: 1px;
}
/* card flip 3d end*/

/* ========================== MENU ================================ */


header {
    /* position: sticky;
    top: 0;
    z-index: 100;
    background-color: ; */
    display: grid;
    grid-template-columns: auto 1fr; 
    align-items: center;
    padding: 20px 30px;
}

.logo img {
    max-width: 100%; 
}

nav ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end; 
}

nav ul.menu li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: var(--text-primary);
}





/* ========================== START SECTION ================================ */


#start {
    /* width: 100%; */
    height: 90vh;
    background-image: url('imgs/Rectangle\ 2.png');
    display: grid;
    place-items: center;
}

#start div {
    padding-bottom: 10%;
    text-align: center;
}

#start div h1 {
    font-size: 3em;
    padding-bottom: 20px;
    letter-spacing: 25px;
    font-weight: 800;
}

#start div p {
    font-size: 2.2em;
    padding: 5% 0;
}